<div class="container">
	<h1 class="login-header">آموزش</h1>
	<main class="page-content">
	  <div class="card">
		<div class="content">
		  <h2 class="title">مطالب آموزشی</h2>
		  <p class="copy">مطالب مفید جهت آموزش</p>
		  <button class="btn">برو</button>
		</div>
	  </div>
	  <div class="card">
		<div class="content">
		  <h2 class="title">پادکست</h2>
		  <p class="copy">محتوای صوتی آموزشی</p>
		  <button class="btn">برو</button>
		</div>
	  </div>
	  <div class="card">
		<div class="content">
		  <h2 class="title">کتاب</h2>
		  <p class="copy">کتاب، فیلم، ...</p>
		  <button class="btn">برو</button>
		</div>
	  </div>
	</main>
	  <button class="under-btn" (click)="back()">برگرد</button>
</div>
<footer>
	  <p>اجازه دهید همیشه با لبخند با هم روبرو شویم، زیرا لبخند سرآغاز عشق است. - مادر ترزا</p>
</footer> 