<nav>
    <img src="assets/logo.png" alt="" routerLink="/mbti">
    <img src="assets/disc.png" alt="" routerLink="/disc">
    

    <ul>
        <li>{{this.username}}</li>
        <!--         
        <li><a routerLink="/education">آموزش</a></li>
        <li><a routerLink="/entertain">سرگرمی</a></li>
        <li><a routerLink="/login">ورود</a></li> -->
        <!-- <li><a routerLink="/home">خانه</a></li> -->
        <a routerLink="/admin" title="خانه">
            <i class="fas fa-home"></i>
        </a>
      



    </ul>
</nav>