nav {
    padding: 10px;
    background-color: skyblue;
}

nav img {
    width: 70px;
    background-color: skyblue;
}

nav ul {
    float: right;
    list-style-type: none;
}

ul li {
    display: inline-block;
    padding: 10px;
}

li a {
    color: blue;
    text-decoration: none;
    cursor: pointer;
}