<div class="container">
	<h2 class="login-header">نام کاربری: {{this.username}}</h2>
	<h2 class="login-header">امتیاز: 0</h2>
	<main class="page-content">
		<div class="card">
		<div class="content">
		  <h2 class="title">بازی جدید</h2>
		  <p class="copy">شروع بازی جنگل</p>
		  <button class="btn" (click)="play()">برو</button><!--(click)="play()"-->
		</div>
	  </div>
	  <div class="card">
		<div class="content">
		  <h2 class="title">مینی گیم ها</h2>
		  <p class="copy">انجام بازی های کوچک</p>
		  <button class="btn" (click)="play()">برو</button>
		</div>
	  </div>
	  <!--
	  <div class="card">
		<div class="content">
		  <h2 class="title"> پرسشنامه متنی</h2>
		  <p class="copy">پاسخ به پرسشنامه در قالب متن</p>
		  <button class="btn">برو</button>
		</div>
	  </div>
	  -->
	</main>
	  <button class="under-btn" (click)="play()">ادامه بازی قبل</button>
	  <button class="under-btn">امتیازات</button>
	  <button class="under-btn" (click)="back()">برگرد</button>
</div>
<footer>
  <p>نقطه مقابل عشق، تنفر نیست، بلکه بی‌تفاوتی است. - الی ویزل</p>
</footer>