<form class="MBTI">
    <p style="background-color: white; font-size: larger; border-bottom: 1px solid rgb(255, 0, 0);"> تست MBTI</p>
    <div class="questions">
        <p>سوال اول: کدام یک را ترجیح می دهید؟</p>
        <input type="radio" name="q1" value="A" [(ngModel)]="answers[0]">انرژی خرج کنید، از گروه ها لذت ببرید
        <br>
        <input type="radio" name="q1" value="B" [(ngModel)]="answers[0]">صرفه جویی در انرژی، لذت بردن از یک به یک
    </div>
    <div class="questions">
        <p>سوال دوم: کدام یک را ترجیح می دهید؟</p>
        <input type="radio" name="q2" value="A" [(ngModel)]="answers[1]">بیشتر برونگرا، با صدای بلند فکر کنید
        <br>
        <input type="radio" name="q2" value="B" [(ngModel)]="answers[1]"> محتاط تر، با خود فکر کنید
    </div>
    <div class="questions">
        <p>سوال سوم: کدام یک را ترجیح می دهید؟</p>
        <input type="radio" name="q3" value="A" [(ngModel)]="answers[2]">به دنبال بسیاری از وظایف، فعالیت های عمومی، تعامل با دیگران باشید
        <br>
        <input type="radio" name="q3" value="B" [(ngModel)]="answers[2]">به دنبال فعالیت های خصوصی و انفرادی با تمرکز آرام باشید
    </div>
    <div class="questions">
        <p>سوال چهارم: کدام یک را ترجیح می دهید؟</p>
        <input type="radio" name="q4" value="A" [(ngModel)]="answers[3]">خارجی، ارتباطی، بیان خود
        <br>
        <input type="radio" name="q4" value="B" [(ngModel)]="answers[3]">داخلی، خودداری، خود را نگه دارید
    </div>
    <div class="questions">
        <p>سوال پنجم: کدام یک را ترجیح می دهید؟</p>
        <input type="radio" name="q5" value="A" [(ngModel)]="answers[4]">فعال، شروع کننده
        <br>
        <input type="radio" name="q5" value="B" [(ngModel)]="answers[4]">انعکاسی،واکنشی
    </div>
    <div class="questions">
        <p>سوال ششم: کدام یک را ترجیح می دهید؟</p>
        <input type="radio" name="q6" value="A" [(ngModel)]="answers[5]">تفسیر کردن
        <br>
        <input type="radio" name="q6" value="B" [(ngModel)]="answers[5]">به دنبال معنا گشتن
    </div>
    <div class="questions">
        <p>سوال هفتم: کدام یک را ترجیح می دهید؟</p>
        <input type="radio" name="q7" value="A" [(ngModel)]="answers[6]">واقع بینی
        <br>
        <input type="radio" name="q7" value="B" [(ngModel)]="answers[6]">استفاده از تخیل
    </div>
    <div class="questions">
        <p>سوال هشتم: کدام یک را ترجیح می دهید؟</p>
        <input type="radio" name="q8" value="A" [(ngModel)]="answers[7]">روش های مرسوم
        <br>
        <input type="radio" name="q8" value="B" [(ngModel)]="answers[7]">روش های متفاوت
    </div>
    <div class="questions">
        <p>سوال نهم: کدام یک را ترجیح می دهید؟</p>
        <input type="radio" name="q9" value="A" [(ngModel)]="answers[8]">تمرکز بر محیط حال
        <br>
        <input type="radio" name="q9" value="B" [(ngModel)]="answers[8]">تمرکز بر آینده، چشم انداز بزرگ
    </div>
    <div class="questions">
        <p>سوال دهم: کدام یک را ترجیح می دهید؟</p>
        <input type="radio" name="q10" value="A" [(ngModel)]="answers[9]">واقعیت ها، چیز ها
        <br>
        <input type="radio" name="q10" value="B" [(ngModel)]="answers[9]">ایده ها، رویا ها
    </div>
    <div class="questions">
        <p>سوال یازدهم: کدام یک را ترجیح می دهید؟</p>
        <input type="radio" name="q11" value="A" [(ngModel)]="answers[10]">منطقی بودن
        <br>
        <input type="radio" name="q11" value="B" [(ngModel)]="answers[10]">احساسی بودن
    </div>
    <div class="questions">
        <p>سوال دوازدهم: کدام یک را در رفتار خود ترجیح می دهید؟</p>
        <input type="radio" name="q12" value="A" [(ngModel)]="answers[11]">صریح و مستقیم
        <br>
        <input type="radio" name="q12" value="B" [(ngModel)]="answers[11]">با سیاست، مهربانانه
    </div>
    <div class="questions">
        <p>سوال سیزدهم: کدام یک را ترجیح می دهید؟</p>
        <input type="radio" name="q13" value="A" [(ngModel)]="answers[12]">تمایل به انتقاد
        <br>
        <input type="radio" name="q13" value="B" [(ngModel)]="answers[12]">ملایم بودن
    </div>
    <div class="questions">
        <p>سوال چهاردهم: کدام یک را ترجیح می دهید؟</p>
        <input type="radio" name="q14" value="A" [(ngModel)]="answers[13]">سنگدل بودن
        <br>
        <input type="radio" name="q14" value="B" [(ngModel)]="answers[13]">نازک دل بودن
    </div>
    <div class="questions">
        <p>سوال پانزدهم: کدام یک را ترجیح می دهید؟</p>
        <input type="radio" name="q15" value="A" [(ngModel)]="answers[14]">مسئله محور بودن
        <br>
        <input type="radio" name="q15" value="B" [(ngModel)]="answers[14]">دلسوز بودن
    </div>
    <div class="questions">
        <p>سوال شانزدهم: کدام یک را ترجیح می دهید؟</p>
        <input type="radio" name="q16" value="A" [(ngModel)]="answers[15]">داشتن نظم
        <br>
        <input type="radio" name="q16" value="B" [(ngModel)]="answers[15]">انعطاف پذیری
    </div>
    <div class="questions">
        <p>سوال هفدهم: خود را چگونه ارزیابی می کنید؟</p>
        <input type="radio" name="q17" value="A" [(ngModel)]="answers[16]">برنامه ریز بودن
        <br>
        <input type="radio" name="q17" value="B" [(ngModel)]="answers[16]">در لحظه زندگی کردن
    </div>
    <div class="questions">
        <p>سوال هجدهم: کدام یک را ترجیح می دهید؟</p>
        <input type="radio" name="q18" value="A" [(ngModel)]="answers[17]">ساختار یافته بودن
        <br>
        <input type="radio" name="q18" value="B" [(ngModel)]="answers[17]">ساختار معنی ندارد، زندگی آسان است
    </div>
    <div class="questions">
        <p>سوال نوزدهم: کدام یک را ترجیح می دهید؟</p>
        <input type="radio" name="q19" value="A" [(ngModel)]="answers[18]">بدون برنامه حرکت نکردن
        <br>
        <input type="radio" name="q19" value="B" [(ngModel)]="answers[18]">با وزش باد حرکت کردن
    </div>
    <div class="questions">
        <p>سوال بیستم: کدام یک به نظرتان نتیجه بهتری دارد؟</p>
        <input type="radio" name="q20" value="A" [(ngModel)]="answers[19]">کنترل یک مجموعه
        <br>
        <input type="radio" name="q20" value="B" [(ngModel)]="answers[19]">آزادی دادن به مجموعه
    </div>
    <button class="check-button" (click)="calculate_mbti()">ثبت پاسخ ها </button>
    <p *ngIf="result">نتیجه ی تست : {{result}}</p>
    <p *ngIf="allnotanswered" style="	color: red;
	direction: rtl;
	text-align: center;
	margin-bottom: 10px;
	background: whitesmoke;">به همه ی سوالات پاسخ داده نشده است</p>

</form>
<footer>
    <p>اجازه دهید همیشه با لبخند با هم روبرو شویم، زیرا لبخند سرآغاز عشق است. - مادر ترزا</p>
</footer>