<app-header></app-header>
<div [@triggerName]="prepareRoute(outlet)">
    <div class="context">
        <router-outlet #outlet="outlet"></router-outlet>
    </div>
    <div class="area">
        <ul class="circles" style="margin-top: 0px;margin-bottom: 0px;">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>
</div>