<app-header></app-header>
<!-- <p> به سامانه ی سرا خوش اومدی!</p> -->
<div class="wrapper">
	<div class="container">
		<div class="stars"></div>
		<div (click)="forum('پنج کار', 'translate(-100%, -75%) scale(0.55)')" class="planet p1">
			<div class="shadow"></div>
			<p>پنج کار مفید برای حال بهتر!</p>
		</div>
		<div class="planet p2" (click)="forum('بازی و شادی', 'translate(-140%, 0%) scale(0.55)')">
			<div class="shadow"></div>
			<p>بازی و شادی</p>
		</div>
		<div class="planet p3" (click)="forum('disc', 'translate(-100%, 75%) scale(0.55)')">
			<div class="shadow"></div>
			<p>رفتارت رو بیشتر بشناس!</p>
		</div>
		<div class="planet p4" (click)="forum('گزارش', 'translate(100%, -75%) scale(0.55)')">
			<div class="shadow"></div>
			<p>برامون بنویس!</p>
		</div>
		<div class="planet p5" (click)="forum('مشاوره', 'translate(140%, 0%) scale(0.55)')">
			<div class="shadow"></div>
			<p>مشاوره</p>
		</div>
		<div class="planet p6" (click)="forum('mbti', 'translate(100%, 75%) scale(0.55)')">
			<div class="shadow"></div>
			<p>خودت رو بیشتر بشناس! </p>
		</div>
		<div class="astronaut" >
			<div class="tank center"></div>
			<div class="suit center">
				<div class="helmet center"></div>
				<div class="buttons center"></div>
				<div class="hand-l"></div>
				<div class="hand-r"></div>
				<div class="leg-l"></div>
				<div class="leg-r"></div>
				<div class="pipe"></div>
			</div>
		</div>
	</div>
	<!-- <a (click)="logout()">خداحافظ</a> -->
</div>
<footer>{{ speech }}</footer>