<div class="wrapper">
	<div class="container">
		<div class="stars"></div>
		<div (click)="forum('مسائل روحی و عاطفی', 'translate(-100%, -75%) scale(0.55)')" class="planet p1">
			<div class="shadow"></div>
			<p>مسائل روحی و عاطفی</p>
		</div>
		<div class="planet p2" (click)="forum('بازی و شادی', 'translate(-140%, 0%) scale(0.55)')">
			<div class="shadow"></div>
			<p>بازی و شادی</p>
		</div>
		<div class="planet p3" (click)="forum('ارتقای اعتماد به نفس', 'translate(-100%, 75%) scale(0.55)')">
			<div class="shadow"></div>
			<p>ارتقای اعتماد به نفس</p>
		</div>
		<div class="planet p4" (click)="forum('مدیریت بحران', 'translate(100%, -75%) scale(0.55)')">
			<div class="shadow"></div>
			<p>مدیریت بحران</p>
		</div>
		<div class="planet p5" (click)="forum('مهارت های بهتر زیستن', 'translate(140%, 0%) scale(0.55)')">
			<div class="shadow"></div>
			<p>مهارت های بهتر زیستن</p>
		</div>
		<div class="planet p6" (click)="forum('اعتیاد', 'translate(100%, 75%) scale(0.55)')">
			<div class="shadow"></div>
			<p>اعتیاد</p>
		</div>
		<div class="astronaut" >
			<div class="tank center"></div>
			<div class="suit center">
				<div class="helmet center"></div>
				<div class="buttons center"></div>
				<div class="hand-l"></div>
				<div class="hand-r"></div>
				<div class="leg-l"></div>
				<div class="leg-r"></div>
				<div class="pipe"></div>
			</div>
		</div>
	</div>
	<a (click)="logout()">خداحافظ</a>
</div>
<footer>
	  <p>انتخاب هایی که در طول زندگی می کنیم بیشتر از توانایی های ما حقیقت وجودی مان را نشان می دهند. - جی کی رولینگ</p>
</footer> 