<app-header></app-header>
<!-- <p> به سامانه ی سرا خوش اومدی!</p> -->
<div class="wrapper">
	<div class="container">
		<div class="stars"></div>
		<div (click)="forum('پنج کار', 'translate(-100%, -75%) scale(0.55)')" class="planet p1 hidden" id="planet1">
			<div class="shadow"></div>
			<p>پنج کار مفید برای حال بهتر!</p>
		</div>
		<div class="planet p2 hidden" (click)="forum('بازی و شادی', 'translate(-140%, 0%) scale(0.55)')" id="planet2">
			<div class="shadow"></div>
			<p>بازی و شادی</p>
		</div>
		<div class="planet p3 hidden" (click)="forum('disc', 'translate(-100%, 75%) scale(0.55)')" id="planet3">
			<div class="shadow"></div>
			<p>رفتارت رو بیشتر بشناس!</p>
		</div>
		<div class="planet p4 hidden " (click)="forum('گزارش', 'translate(100%, -75%) scale(0.55)')" id="planet6">
			<div class="shadow"></div>
			<p>برامون بنویس!</p>
		</div>
		<div class="planet p5 hidden" (click)="forum('مشاوره', 'translate(140%, 0%) scale(0.55)')" id="planet5">
			<div class="shadow"></div>
			<p>مشاوره</p>
		</div>
		<div class="planet p6 hidden" (click)="forum('mbti', 'translate(100%, 75%) scale(0.55)')" id="planet4">
			<div class="shadow"></div>
			<p>خودت رو بیشتر بشناس! </p>
		</div>
		<div class="astronaut">
			<div class="tank center"></div>
			<div class="suit center">
				<div class="helmet center"></div>
				<div class="buttons center"></div>
				<div class="hand-l"></div>
				<div class="hand-r"></div>
				<div class="leg-l"></div>
				<div class="leg-r"></div>
				<div class="pipe"></div>
			</div>
		</div>
	</div>
	<!-- <a (click)="logout()">خداحافظ</a> -->
</div>
<!-- <footer>{{ speech }}</footer> -->
<div class="left-avatar hidden" id="avatar1">
	<img src="/assets/avatar1.jpg" alt="Avatar" style="border-radius: 50%; width: 100px; height: 100px;">
	<div class="speech-bubble">
		<p *ngIf="firstTime">بیا باهام تا پنج تا کار مفید بهت نشون بدم!</p>
		<p *ngIf="!firstTime"> هنوز منتظرتم تا پنج تا کار مفید بهت نشون بدم!</p>
	</div>
</div>
<div class="left-avatar hidden" id="avatar2">
	<img src="/assets/avatar2.jpg" alt="Avatar" style="border-radius: 50%; width: 100px; height: 100px;">
	<div class="speech-bubble">
		<p *ngIf="firstTime">بریم با هم چند تا مینی گیم انجام بدیم!</p>
		<p *ngIf="!firstTime">هنوز دوست دارم چند تا مینی گیم انجام بدیم!</p>
	</div>
</div>
<div class="left-avatar hidden" id="avatar3">
	<img src="/assets/avatar3.jpg" alt="Avatar" style="border-radius: 50%; width: 100px; height: 100px;">
	<div class="speech-bubble">
		<p *ngIf="firstTime">دوست داری رفتار خودت رو بیشتر بشناسی؟!</p>
		<p *ngIf="!firstTime"> رفتار خودت رو بیشتر بشناس!</p>
	</div>
</div>
<div class="right-avatar hidden" id="avatar4">
	<div class="speech-bubble">
		<p *ngIf="firstTime">دوست داری شخصیت خودت رو بیشتر بشناسی؟!</p>
		<p *ngIf="!firstTime"> شخصیت خودت رو بیشتر بشناس!</p>
	</div>
	<img src="/assets/avatar3.jpg" alt="Avatar" style="border-radius: 50%; width: 100px; height: 100px;">

</div>
<div class="right-avatar hidden" id="avatar5">
	<div class="speech-bubble">
		<p *ngIf="firstTime">بریم ببینیم آقای مشاور چی داره برامون!</p>
		<p *ngIf="!firstTime">به نظرت آقای مشاور چی داره برامون؟!</p>
	</div>
	<img src="/assets/avatar4.jpg" alt="Avatar" style="border-radius: 50%; width: 100px; height: 100px;">

</div>
<div class="right-avatar hidden" id="avatar6">
	<div class="speech-bubble">
		<p *ngIf="firstTime">بیا اینجا برامون بنویس!</p>
		<p *ngIf="!firstTime">بیا اینجا برامون بنویس منتظرتم !</p>
	</div>
	<img src="/assets/avatar5.jpg" alt="Avatar" style="border-radius: 50%; width: 100px; height: 100px;">

</div>
<!-- commented section -->
<!-- <div *ngIf="showMap" (click)="map()">
	<img class="map" src="assets/map.png">
</div>

<div *ngIf="showKey" (click)="key()">
	<img class="key" src="assets/key.png" alt="Image">
</div>
-->
<div *ngIf="showTreasure" (click)="treasure()">
	<img class="treasure" src="assets/treasure.png" alt="Image">
</div>
<div id="myModal" *ngIf="showDialog">
	<div id="modalContent">
		<p>نوشته ی داخل گنج : </p>
	  <p>{{this.speech}}</p>
	  <button id="closeButton" (click)="closeDialog()">!باشه</button>
	</div>
  </div> 