<div class="disc">
    <p style="background-color: white; font-size: larger; border-bottom: 1px solid rgb(255, 0, 0);"> تست DISC</p>
    <div class="questions">
        <p style="   color: blue;
        border-bottom: 1px solid rgb(255, 0, 0);
        padding-bottom: 20px;
        margin-bottom: 20px;
        text-align: right;" *ngFor="let question of questions; index as i">
            {{i+1}}-{{question.text}}
            <br>
            <input type="radio" name="answer{{i}}" value="D+" [(ngModel)]="answers[i]">{{question.answer1}}
            <input type="radio" name="answer{{i}}" value="I+" [(ngModel)]="answers[i]">{{question.answer2}}
            <input type="radio" name="answer{{i}}" value="S+" [(ngModel)]="answers[i]">{{question.answer3}}
            <input type="radio" name="answer{{i}}" value="C+" [(ngModel)]="answers[i]">{{question.answer4}}
            <br>
            <br> --{{question.text2}}
            <br>
            <input type="radio" name="answer2{{i}}" value="D-" [(ngModel)]="answers2[i]">{{question.answer1}}
            <input type="radio" name="answer2{{i}}" value="I-" [(ngModel)]="answers2[i]">{{question.answer2}}
            <input type="radio" name="answer2{{i}}" value="S-" [(ngModel)]="answers2[i]">{{question.answer3}}
            <input type="radio" name="answer2{{i}}" value="C-" [(ngModel)]="answers2[i]">{{question.answer4}}
            <br>


        </p>
        <button class="check-button" (click)="calculate_disc()">ثبت پاسخ ها </button>
        <p *ngIf="result">نتیجه ی تست : {{result}}</p>
        <p *ngIf="allnotanswered" style="	color: red;
	direction: rtl;
	text-align: center;
	margin-bottom: 10px;
	background: whitesmoke;">به همه ی سوالات پاسخ داده نشده است</p>
    </div>




</div>
































<footer>
    <p>تمامی خرد بشر، در این دو کلمه خلاصه می شود: صبر و امید! “الکساندر دوما”</p>
</footer>