<app-header></app-header>
<!-- <div class="disc">
    <p style="background-color: white; font-size: larger; border-bottom: 1px solid rgb(255, 0, 0);"> تست DISC</p>
    <div class="questions">
        <p style="   color: blue;
        border-bottom: 1px solid rgb(255, 0, 0);
        padding-bottom: 20px;
        margin-bottom: 20px;
        text-align: right;" *ngFor="let question of questions; index as i">
            {{i+1}}-{{question.text}}
            <br>
            <input type="radio" name="answer{{i}}" value="D+" [(ngModel)]="answers[i]">{{question.answer1}}
            <input type="radio" name="answer{{i}}" value="I+" [(ngModel)]="answers[i]">{{question.answer2}}
            <input type="radio" name="answer{{i}}" value="S+" [(ngModel)]="answers[i]">{{question.answer3}}
            <input type="radio" name="answer{{i}}" value="C+" [(ngModel)]="answers[i]">{{question.answer4}}
            <br>
            <br> --{{question.text2}}
            <br>
            <input type="radio" name="answer2{{i}}" value="D-" [(ngModel)]="answers2[i]">{{question.answer1}}
            <input type="radio" name="answer2{{i}}" value="I-" [(ngModel)]="answers2[i]">{{question.answer2}}
            <input type="radio" name="answer2{{i}}" value="S-" [(ngModel)]="answers2[i]">{{question.answer3}}
            <input type="radio" name="answer2{{i}}" value="C-" [(ngModel)]="answers2[i]">{{question.answer4}}
            <br>


        </p>
        <button class="check-button" (click)="calculate_disc()">ثبت پاسخ ها </button>
        <p *ngIf="result">نتیجه ی تست : {{result}}</p>
        <p *ngIf="allnotanswered" style="	color: red;
	direction: rtl;
	text-align: center;
	margin-bottom: 10px;
	background: whitesmoke;">به همه ی سوالات پاسخ داده نشده است</p>
    </div>




</div> -->
<div class="disc">
  <p style="background-color: white; font-size: larger; border-bottom: 1px solid rgb(255, 0, 0);"> تست DISC</p>

  <div class="question" *ngFor="let question of getQuestionsForCurrentPage(); let i = index">
    <p>{{(currentPage - 1) * itemsPerPage + i + 1}}-{{question.text}}</p>
    <div class="answer-grid">
      <div class="answer" [class.selected]="question.selectedD"
        (click)="setAnswer((currentPage - 1) * itemsPerPage + i, 'D+')">{{question.answer1}}</div>
      <div class="answer" [class.selected]="question.selectedI"
        (click)="setAnswer((currentPage - 1) * itemsPerPage + i, 'I+')">{{question.answer2}}</div>
      <div class="answer" [class.selected]="question.selectedS"
        (click)="setAnswer((currentPage - 1) * itemsPerPage + i, 'S+')">{{question.answer3}}</div>
      <div class="answer" [class.selected]="question.selectedC"
        (click)="setAnswer((currentPage - 1) * itemsPerPage + i, 'C+')">{{question.answer4}}</div>
    </div>
    <br>
    <p>{{(currentPage - 1) * itemsPerPage + i + 1}}-{{question.text2}}</p>
    <div class="answer-grid">
      <div class="answer" [class.selected]="question.selected2D"
        (click)="setAnswer2((currentPage - 1) * itemsPerPage + i, 'D-')">{{question.answer1}}</div>
      <div class="answer" [class.selected]="question.selected2I"
        (click)="setAnswer2((currentPage - 1) * itemsPerPage + i, 'I-')">{{question.answer2}}</div>
      <div class="answer" [class.selected]="question.selected2S"
        (click)="setAnswer2((currentPage - 1) * itemsPerPage + i, 'S-')">{{question.answer3}}</div>
      <div class="answer" [class.selected]="question.selected2C"
        (click)="setAnswer2((currentPage - 1) * itemsPerPage + i, 'C-')">{{question.answer4}}</div>
    </div>
    <br>
  </div>

  <div class="pagination">
    <button class="check-button" [disabled]="currentPage == 1" (click)="currentPage = currentPage - 1">صفحه قبل</button>
    <span>{{currentPage}}/{{getTotalPages()}}</span>
    <button class="check-button" [disabled]="currentPage * itemsPerPage >= questions.length"
      (click)="currentPage = currentPage + 1">صفحه بعد</button>
  </div>
  <div style="text-align: center;">
    <button class="submit-button" (click)="calculate_disc()">ثبت پاسخ ها </button>
  </div>
  <p *ngIf="result">نتیجه ی تست : {{result}}</p>
  <div style="text-align: center;">
    <button class="submit-button" (click)="disc_types()">چه جالب بریم ببینیم چی هست </button>
  </div>
  <p *ngIf="allnotanswered"
    style="color: red; direction: rtl; text-align: center; margin-bottom: 10px; background: whitesmoke;">به همه ی سوالات
    پاسخ داده نشده است</p>
<div class="progress-container">
  <div class="progress-bar">
    <div class="progress" [style.width.%]="progressPercentage"></div>
  </div>
</div>






<!-- <footer>
    <p>تمامی خرد بشر، در این دو کلمه خلاصه می شود: صبر و امید! “الکساندر دوما”</p>
</footer> -->