<app-header></app-header>
<div class="top">
  <p> پنج کار خیلی باحال!</p>
</div>
<div class="animation-container">
  <div class="rectangle" id="rectangle-1"> 
    <img src="./assets/food.jpg" alt="food" style="object-fit: cover; width: 100%; height: 100%; border-radius: 50%;">
  </div>
  <div class="rectangle" id="rectangle-2">
    <img src="./assets/sleep.jpg" alt="food" style="object-fit: cover; width: 100%; height: 100%; border-radius: 50%;">
  </div>
  <div class="rectangle" id="rectangle-3">
    <img src="./assets/talk.jpg" alt="food" style="object-fit: cover; width: 100%; height: 100%; border-radius: 50%;">
  </div>

  <div class="rectangle" id="rectangle-4">
    <img src="./assets/sun.jfif" alt="food" style="object-fit: cover; width: 100%; height: 100%; border-radius: 50%;">
  </div>
  
  <div class="rectangle" id="rectangle-5">
    <img src="./assets/bike.jfif" alt="food" style="object-fit: cover; width: 100%; height: 100%; border-radius: 50%;">
  </div>
</div>
<footer>{{ speech }}</footer>


